In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [18]:
player_count = len(purchase_data["SN"].unique())
player_count

player_count_summary=pd.DataFrame({"Total Players":[player_count]})
player_count_summary

   Total Players
0            576

In [68]:
items_count = len(purchase_data["Item ID"].unique())
items_count

average_purchase_price = purchase_data["Price"].mean()
average_purchase_price

purchase_count = len(purchase_data["Purchase ID"].unique())
purchase_count

total_revenue = purchase_data["Price"].sum()
total_revenue

result_summary = pd.DataFrame({
    "Number of Unique Items":[items_count],
    "Average Price":[average_purchase_price],
    "Number of Purchases":[purchase_count],
    "Total Revenue":[total_revenue]})

result_summary["Average Price"] = result_summary["Average Price"].map("${0:.2f}".format)
result_summary["Total Revenue"] = result_summary["Total Revenue"].map("${0:.2f}".format)
result_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [71]:
male_player = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_count = len(male_player["SN"].unique())
male_count

female_player = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_count = len(female_player["SN"].unique())
female_count  

other_player = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_count = len(other_player["SN"].unique())
other_count

male_percentage = "{:.2f}%".format(male_count / player_count * 100)
male_percentage

female_percentage = "{:.2f}%".format(female_count / player_count * 100)
female_percentage

other_percentage = "{:.2f}%".format(other_count / player_count * 100)
other_percentage

gender_summary = pd.DataFrame({
    "":["Male", "Female", "Other / Non-Disclosed"],
    "Total Count":[male_count, female_count, other_count],
    "Percentage of Players":[male_percentage, female_percentage, other_percentage],})

gender_summary=gender_summary.set_index("")

gender_summary

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [79]:
male_purchase_count = len(male_player)
male_purchase_count

female_purchase_count = len(female_player)
female_purchase_count

other_purchase_count = len(other_player)
other_purchase_count

avg_male_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].mean()
avg_male_purchase_price

avg_female_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].mean()
avg_female_purchase_price

avg_other_purchase_price = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].mean()
avg_other_purchase_price

total_male_purchase = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].sum()
total_male_purchase

total_female_purchase = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].sum()
total_female_purchase

total_other_purchase = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].sum()
total_other_purchase

avg_total_male = total_male_purchase / male_count
avg_total_male

avg_total_female = total_female_purchase / female_count
avg_total_female

avg_total_other = total_other_purchase / other_count
avg_total_other

gender_analysis = pd.DataFrame({
    "Gender":["Female", "Male", "Other / Non-Disclosed"],
    "Purchase Count":[female_purchase_count, male_purchase_count, other_purchase_count],
    "Average Purchase Price":[avg_female_purchase_price, avg_male_purchase_price, avg_other_purchase_price],
    "Total Purchase Value":[total_female_purchase, total_male_purchase, total_other_purchase],
    "Avg Total Purchase per Person":[avg_total_female, avg_total_male, avg_total_other]})

#gender_analysis["Total Purchase Value"] = gender_analysis["Total Purchase Value"].map("${0:.2f}".format)
gender_analysis = gender_analysis.set_index("Gender")
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,Price 3.203009 dtype: float64,Price 361.94 dtype: float64,Price 4.468395 dtype: float64
Male,652,Price 3.017853 dtype: float64,Price 1967.64 dtype: float64,Price 4.065372 dtype: float64
Other / Non-Disclosed,15,Price 3.346 dtype: float64,Price 50.19 dtype: float64,Price 4.562727 dtype: float64